<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd"
         bootstrap="tests/integration/Bootstrap.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertErrorsToExceptions="true"
         verbose="true">
    <php>
        <const name="DB_DSN" value="mysql:host=localhost:3306;dbname=test;charset=utf8"/>
        <const name="DB_USERNAME" value="test"/>
        <const name="DB_PASSWORD" value="test"/>
        <const name="RABBITMQ_HOST" value="localhost"/>
        <const name="RABBITMQ_PORT" value="5672"/>
        <const name="RABBITMQ_USER" value="test"/>
        <const name="RABBITMQ_PASSWORD" value="test"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="IntegrationTesting\PHPUnit\Runner\Extension\Handler">
            <arguments>
                <string>.integration-testing.json</string>
            </arguments>
        </extension>
    </extensions>
</phpunit>